/* -------------------------- PreFooter--------------------------*/

.prefooter{
    background-color: #ffefb9d0;
    .columna{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 0 0;
    }
    a{
        font-size: 15px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        &:hover{
            scale: 1.2;
        }
    }

    .margen-pf{
        margin-bottom: 3rem;
    }
}





/* -------------------------- Footer-------------------------- */
footer{
    background-color: #941F1F;
    color: #ffffff;
    .alinear-footer{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

